body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.thumb{
    display: inline-block;
    margin: 2px;
    position: relative;
    right: 0; 
    bottom: 0;
    vertical-align: middle;
    min-height: 100%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    z-index: 1;
    opacity: 1;

}

.vidContainer{
  height: 154px;
  width:275px;
  overflow: hidden;
}

.thumbVid {
  margin:2px;
  
}

.videos {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: default;
  list-style: none; 

}

/*  .thumbImg:hover { opacity: 0;}
  .thumbGif:hover { display:block;}*/

.wrap {

   overflow: hidden;
   margin-top: 60px;
   margin-bottom: 30px;
   position: relative;
    
}

.vidTitle {
  position: relative;
  display: flex;
  color: #2e2e30;
  font-weight: 600;
  margin: 2px;
  justify-content: flex-start;
 
}

.form {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadLink {
  margin-top: 20px;
  color: #1a0630;
}
.likes {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
  color: white;
  background-color: #2e2e30;
  margin-top: 2.5px;
  margin-left: 2px;
  opacity: .85;
  border: 1px solid;
  border-color: #949496;
  border-radius: 30px;
}
.like{
  padding: 4px;
  color: white;
}

.dislike{
  padding: 4px;
  color: white;
}



.like:hover{
  color: green;
}

.dislike:hover{
  color: red;
}

.like:focus{
  color: green;
}

.dislike:focus{
  color: red;
}

ul {
  height: 60%;
  width: 75%;
  list-style: none;
  
}
$transition : 9s;
li > .thumb{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    float: left;
    list-style: none;
    background-color: black;
    transition-duration: 5s;

    cursor: pointer;
    transition: transform $transition;
    }
.thumb:hover,
.thumb:focus,
.thumb:active {
    /*transform: scale(1.5);*/
    z-index: 2;
    opacity: 1;
}

.showPlayCircle i {
  position: absolute;
  z-index: 4;
  margin: 45px 40px 50px -30px;
  color: white;
  opacity: .25;
  cursor: pointer;
}

.showPlayCircle:hover i {
  opacity: .75
}
