body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.thumb{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    z-index: 1

}


.thumbVid {
  margin:0;
  margin-bottom: -20px;
}

.videos {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: default

}

.wrap {

   overflow: hidden;
   margin-top: 60px;
   margin-bottom: 30px;
   position: relative;
    
}

.vidTitle {
  position: relative;
 
}

.form {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.vidShowContainer {
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}*/

.uploadLink {
  margin-top: 20px;
  color: #1a0630;
}

.like{
  padding: 4px;
  color: grey;
}

.dislike{
  padding: 4px;
  color: grey;
}



.like:hover{
  color: green;
}

.dislike:hover{
  color: red;
}

.like:focus{
  color: green;
}

.dislike:focus{
  color: red;
}

ul {
  height: 60%;
  width: 75%;
  list-style: none;
  
}

li > .thumb{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    float: left;
    list-style: none;
    background-color: black;
    transition-duration: .5s;
    overflow: hidden;
    cursor: pointer;
    transition: transform $transition;
    }
.thumb:hover,
.thumb:focus,
.thumb:active {
    transform: scale(1.5);
    z-index: 2
}

ul:hover {
  li {
    transform: translateX(-25%);
  }

  li:hover {
    transform: scale(1.5);
    transition-duration: $transition/1.1;
  }

  li:hover ~ li {
    transform: translateX(25%);
  }
}