<% json = File.read('client/build/asset-manifest.json')%>
<% filenames = JSON.parse(json) %>

<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><script src="https://use.fontawesome.com/d56a3b0123.js"></script><link rel="shortcut icon" href="/favicon.ico"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"><title>React App</title><link href=/<%=filenames['main.css']%> rel="stylesheet"></head><body><div id="root"></div><script type="text/javascript" src=/<%=filenames['main.js']%>> </script></body></html>